/* Utils */

.text-gray{
    color: gray;
}

.fs-7{
    font-size: 13px;
}

.fs-8{
    font-size: 10px;
}


/* HEADER */

header{
    width: 100%;
    z-index: 1;
}

/* Header First Section */

#top-nav{
    height: 40px;
    background-color: black;

}

#logo{
    height: 80%;
    margin-right: 15px;
}

/* Header Last Section */   

#bottom-nav .nav-link.disabled{
    color: black;
    font-weight: 500;
}

#bottom-nav .nav-link{
    color: black;
    font-weight: 500;
}

#bottom-nav .left-nav{
    min-width: 600px;
}

#bottom-nav .right-nav{
    max-width: 300px;
    min-width: 300px;
}

#bottom-nav .btn{
    border-radius: 25px;
    padding: 5px 20px;
}

/* MAIN */

/* Main First Section */

#main-first-section{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 750px;
    position: relative;
    top: 116px;
}

.main-section-content{
    position: absolute;
    bottom: 50px;
}

.main-section-content img{
    max-height: 40px;
}

.main-section-content h2{
    margin: 40px 0;
}

.main-section-content .btn-dark{
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
}

.main-section-content .btn{
    border-radius: 25px;
}

/* Main Second Section */

#main-second-section{
    margin-top: 150px;
}

#main-second-section img{
    border: 1px solid transparent;
    border-radius: 17px;
}

#main-second-section .active{
    border-color: rgb(0, 114, 206);
}

/* Main Third Section */

#main-third-section{
    margin-top: 150px;
}

#main-third-section h5{
    color: rgb(0, 114, 206);
}

#main-third-section p{
    margin-top: 30px;
}

#main-third-section .btn-dark{
    background-color: rgb(0, 114, 206);
    border-color: rgb(0, 114, 206);
    max-width: 30%;
    min-width: 220px;
}

#main-third-section .btn{
    border-radius: 25px;
}

#main-third-section .col-md-2 img{
    filter: opacity(0.6);
}

#main-third-section .active{
    border-bottom: 4px solid rgb(0, 114, 206);
}

#main-third-section .active img{
    filter: opacity(1);
}